aside {
    display: flex;
    align-items: center;
    background-image: url(../assets/Background.png);
    width: 400px;
    height: 728px;
    background-size: cover;
    border-radius: .5rem;
    border: 20px solid var(--shape-background);

    .aside-container {

        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
        margin-top: 2rem;

        img {
            width: 45.85px;
            height: 48px;
        }

        span {
            display: block;
            font: var(--logo);
            color: var(--pink);
            margin-top: 1rem;
        }

        p {
            padding-top: 4px;
            font: var(--body-sm);
            color: var(--text-heading);
        }
    }
}