.app {

    h1 {
        margin-top: 80px;
        font: var(--heading-md);
    }

    padding-inline: 80px;
    border: 20px solid var(--shape-background);
    border-radius: 1rem;
    height: 100vh;
    overflow: auto;
    color: white;

    .div-image {
        margin-top: 16px;
        display: inline-flex;
        outline: 6px solid var(--shape-button);
        border-radius: 1rem;
        width: 28px;
        height: 28px;
        margin-bottom: 4px;
        margin-left: 20px;
    }

    .div-image:hover {
        outline: 1px solid var(--brand-mid);
    }

    .personalization {
        label {
            display: flex;
            margin-top: 24px;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 16px;
        gap: 8px;

        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;
            padding: 6px;
            border: 1px solid var(--shape-button);
            border-radius: .5rem;
        }

        figure:hover {
            border: 1px solid var(--brand-mid);
        }
    }

}